In [1]:
import pandas as pd
import pyodbc
import sqlalchemy.types
from sqlalchemy import create_engine
from urllib import parse
from timeit import default_timer as timer
from datetime import datetime

### Define Some Date Functions to Deal with AS400 Julian Dates

In [2]:
def date_to_julian(date_obj):
    """
    Convert a Python date/datetime to AS400 Julian format (YYDDD).

    Format: YYDDD where YY=year, DDD=day of year
    Example: January 1, 2026 -> 26001

    Args:
        date_obj: datetime.date, datetime.datetime, or string in 'YYYY-MM-DD' format

    Returns:
        int: Julian date in YYDDD format
    """
    if isinstance(date_obj, str):
        date_obj = datetime.strptime(date_obj, '%Y-%m-%d').date()
    elif isinstance(date_obj, datetime):
        date_obj = date_obj.date()

    year = date_obj.year
    year_digits = year % 100
    day_of_year = date_obj.timetuple().tm_yday

    julian = year_digits * 1000 + day_of_year
    return julian


def julian_to_date(julian_date):
    """
    Convert 5-digit Julian date (YYDDD) to yyyy-mm-dd format.
    
    Format: YYDDD where YY=year (assumes 2000s), DDD=day of year
    Example: 26001 -> 2026-01-01
    
    Args:
        julian_date: int or str, 5-digit Julian date
    
    Returns:
        str: Date in 'YYYY-MM-DD' format
    """
    from datetime import timedelta
    
    julian_str = str(int(julian_date)).zfill(5)
    year_digits = int(julian_str[:2])
    day_of_year = int(julian_str[2:])
    
    # Assume years 00-99 map to 2000-2099
    year = 2000 + year_digits
    
    # Start from January 1 of that year and add days
    base_date = datetime(year, 1, 1).date()
    target_date = base_date + timedelta(days=day_of_year - 1)
    
    return target_date.strftime('%Y-%m-%d')

### Define Some Global Constants

In [3]:
current_year = datetime.now().year
start_date = datetime(current_year, 1, 1)
stop_date = datetime.today()

SCRAP_START = date_to_julian(start_date)
SCRAP_STOP = date_to_julian(stop_date)

### Define Database Connections

In [4]:
# Define Database Connection for PROD

CONNAS400 = """
Driver={iSeries Access ODBC Driver};
system=10.143.12.10;
Server=AS400;
Database=PROD;
UID=SMY;
PWD=SMY;
"""

# Define Database Connection for ccsdta

CONNAS400_CCSDTA = """
Driver={iSeries Access ODBC Driver};
system=10.143.12.10;
Server=AS400;
Database=CCSDTA;
UID=SMY;
PWD=SMY;
"""

# Setup Database Connection to SQL Server

server = 'tn-sql'
database = 'autodata'
driver = 'ODBC+Driver+17+for+SQL+Server'
user = 'production'
pwd = parse.quote_plus("Auto@matics")
port = '1433'
database_conn = f'mssql+pyodbc://{user}:{pwd}@{server}:{port}/{database}?driver={driver}'
# Make Connection
engine = create_engine(database_conn)
conn_sql = engine.connect()

### Setup Columns and Data Types for Dataframes

In [5]:
SCRAP_COLUMNS = ["ITMID", "ITMDESC", "PRODCODE", "INVCLASS", "TXNCD", "REASON", "PLT", "TXNQTY", "UOM", "ITMCOST",
                 "FRZSTDCST", "SCRAP_COST", "TNREF1", "TXNSDT", "DATE1", "USERID"]
SCRAP_DTYPE = {
    "ITMID": str,
    "ITMDESC": str,
    "PRODCODE": str,
    "INVCLASS": str,
    "TXNCD": str,
    "REASON": str,
    "PLT": str,
    "TXNQTY": float,
    "UOM": str,
    "ITMCOST": float,
    "FRZSTDCST": float,
    "SCRAP_COST": float,
    "TNREF1": str,
    "TXNSDT": float,
    "DATE1": str,
    "USERID": str
}

In [6]:

sql_inv = """
    SELECT
    b.plt,
    y.itmid,
    b.qty,
    y.itmdesc,
    SUBSTR (Altdesc, 15, 1) Class
FROM
    CCSDTA.DCSCIM y,
    CCSDTA.DMFCMAR x,
    CCSDTA.DCSILM b
WHERE
    x.itmid = y.itmid
    AND x.itmid = b.itmid
    AND x.plt = b.plt
    AND b.plt = '09'
    AND qty <> 0
    AND x.COSTID = 'FRZ'
    AND x.plt NOT IN ('53', '54', '55', '56', '59')
"""
sql_scrap = f"""
SELECT
        x.itmid,
        y.itmdesc,
        substr(z.altdesc,12,1) PRODCODE,
        substr(z.altdesc,15,1) INVCLASS,
        txncd,
        reason,
        x.plt,
        txnqty,
        x.uom,
        x.itmcost,
        y.frzstdcst,
        ((y.frzstdcst/1000) * txnqty) AS SCRAP_COST,
        tnref1,
        txnsdt,
        userid
FROM
        CCSDTA.DCSHST x,
        CCSDTA.DCSDIM y,
        CCSDTA.DCSCIM z
WHERE
        x.plt = y.plt
        AND x.itmid = y.itmid
        AND x.itmid = z.itmid
        AND txnsdt > {SCRAP_START}
        AND txnsdt < {SCRAP_STOP}
        AND y.plt = '09'
        AND reason not in ('790', '799', 'ERR', 'OP')
        AND substr(z.altdesc,12,1) not in ('7', 'C', 'D')
        AND tnref1 not in ('PIV0099', 'RMAD303522', 'RMAD303565')
        AND txncd in ('12', '13')
"""

In [7]:

def pull_data(conn,qry):
    # Connection with error handling and connection management
    result = []
    start = 0
    msg = ""  # Initialize msg
    dbcnxn = None  # Initialize dbcnxn
    try:
        dbcnxn = pyodbc.connect(conn, timeout=30)
        cursor = dbcnxn.cursor()
        start = timer()

        try:
            cursor.execute(qry)
            result = cursor.fetchall()
            msg = str(len(result)) + " Records Processed From Table"
        except Exception as e:
            msg = conn + ' Query Failed: ' + str(e)
            print(msg)
    except pyodbc.Error as e:
        msg = conn + ' Connection Failed: ' + str(e)
        print(msg)
    finally:
        if msg:
            print(msg)
        if dbcnxn is not None:
            try:
                print("Connect/Query Time = " + str(round((timer() - start), 3)) + " sec")
                dbcnxn.close()
            except:
                pass  # Handle case where connection wasn't established

    return result

In [52]:
print(date_to_julian('2026-12-01'))

26335

In [8]:
def _build_scrap_dataframe(raw_records: list) -> pd.DataFrame:
    """
    Build the scrap DataFrame from raw AS400 records.

    This function is responsible only for shaping, cleaning, and casting
    the data into the expected schema.
    """
    if not raw_records:
        # Return an empty DataFrame with the correct schema
        return pd.DataFrame(columns=SCRAP_COLUMNS)

    # Create dataframe with columns from SQL query (excluding DATE1)
    sql_columns = ["ITMID", "ITMDESC", "PRODCODE", "INVCLASS", "TXNCD", "REASON", "PLT", "TXNQTY", "UOM", "ITMCOST",
                   "FRZSTDCST", "SCRAP_COST", "TNREF1", "TXNSDT", "USERID"]
    df_scrap = pd.DataFrame.from_records(raw_records, columns=sql_columns)

    # Drop any rows missing required fields before numeric conversion
    df_scrap = df_scrap.dropna(subset=sql_columns)

    # Convert QTY to numeric, coercing invalid entries to NaN
    df_scrap["TXNQTY"] = pd.to_numeric(df_scrap["TXNQTY"], errors="coerce")

    # Remove rows where QTY could not be converted
    df_scrap = df_scrap.dropna(subset=["TXNQTY"])

    # Convert ITMCOST to numeric, coercing invalid entries to NaN
    df_scrap["ITMCOST"] = pd.to_numeric(df_scrap["ITMCOST"], errors="coerce")

    # Remove rows where ITMCOST could not be converted
    df_scrap = df_scrap.dropna(subset=["ITMCOST"])

    # Convert SCRAP_COST to numeric, coercing invalid entries to NaN
    df_scrap["SCRAP_COST"] = pd.to_numeric(df_scrap["SCRAP_COST"], errors="coerce")

    # Remove rows where SCRAP_COST could not be converted
    df_scrap = df_scrap.dropna(subset=["SCRAP_COST"])

    # Convert TXNSDT Julian date to yyyy-mm-dd format and add to new column DATE1
    df_scrap["DATE1"] = df_scrap["TXNSDT"].astype(int).apply(julian_to_date)

    try:
        df_scrap = df_scrap.astype(SCRAP_DTYPE)
    except (TypeError, ValueError) as exc:
        print(f"Error converting scrap data types: {exc}")
        return pd.DataFrame(columns=SCRAP_COLUMNS)

    # Let pandas choose the most appropriate dtypes (nullable ints, etc.)
    df_scrap = df_scrap.convert_dtypes()

    print(f"Processed {len(df_scrap)} scrap records")
    return df_scrap

In [9]:
def scrap_tbl(df_data):
    # Build Components Table
    print('Build Scrap SQL Table')
    if df_data.empty:
        print("Warning: Empty DataFrame, skipping SQL insert")
        return

    # Validate required columns exist
    required_columns = SCRAP_COLUMNS
    missing_columns = [col for col in required_columns if col not in df_data.columns]
    if missing_columns:
        error_msg = f"Missing required columns: {missing_columns}"
        print(f"Error: {error_msg}")
        raise ValueError(error_msg)

    data_type_dict = {
        "ITMID": sqlalchemy.types.VARCHAR(255),
        "ITMDESC": sqlalchemy.types.VARCHAR(255),
        "PRODCODE": sqlalchemy.types.VARCHAR(255),
        "INVCLASS": sqlalchemy.types.VARCHAR(255),
        "TXNCD": sqlalchemy.types.VARCHAR(255),
        "REASON": sqlalchemy.types.VARCHAR(255),
        "PLT": sqlalchemy.types.VARCHAR(255),
        "TXNQTY": sqlalchemy.types.FLOAT,
        "ITMCOST": sqlalchemy.types.FLOAT,
        "FRZSTDCST": sqlalchemy.types.FLOAT,
        "SCRAP_COST": sqlalchemy.types.FLOAT,
        "TNREF1": sqlalchemy.types.VARCHAR(255),
        "TXNSDT": sqlalchemy.types.FLOAT,
        "UOM": sqlalchemy.types.VARCHAR(255),
        "USERID": sqlalchemy.types.VARCHAR(255)
    }
    try:
        df_data.to_sql('tblScrapAll', engine, schema='eng', if_exists='replace', index=False,
                         dtype=data_type_dict)
        print(f"Successfully inserted {len(df_data)} records into tblScrapAll")
    except Exception as e:
        print(f"Error inserting data into tblScrapAll: {e}")

In [10]:

data_set = pull_data(CONNAS400_CCSDTA,sql_scrap)
df_scrap1 = _build_scrap_dataframe(data_set)
print(df_scrap1.info())
print(df_scrap1.dtypes)
scrap_tbl(df_scrap1)

5429 Records Processed From Table
Connect/Query Time = 0.481 sec
Processed 5429 scrap records
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5429 entries, 0 to 5428
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ITMID       5429 non-null   string
 1   ITMDESC     5429 non-null   string
 2   PRODCODE    5429 non-null   string
 3   INVCLASS    5429 non-null   string
 4   TXNCD       5429 non-null   string
 5   REASON      5429 non-null   string
 6   PLT         5429 non-null   string
 7   TXNQTY      5429 non-null   Float64
 8   UOM         5429 non-null   string
 9   ITMCOST     5429 non-null   Float64
 10  FRZSTDCST   5429 non-null   Float64
 11  SCRAP_COST  5429 non-null   Float64
 12  TNREF1      5429 non-null   string
 13  TXNSDT      5429 non-null   Int64
 14  USERID      5429 non-null   string
 15  DATE1       5429 non-null   string
dtypes: Float64(4), Int64(1), string(11)
memory usage: 705.3 KB
None
ITMID         string[python]
ITMDESC       string[python]
PRODCODE      string[python]
INVCLASS      string[python]
TXNCD         string[python]
REASON        string[python]
PLT           string[python]
TXNQTY               Float64
UOM           string[python]
ITMCOST              Float64
FRZSTDCST            Float64
SCRAP_COST           Float64
TNREF1        string[python]
TXNSDT                 Int64
USERID        string[python]
DATE1         string[python]
dtype: object
Build Scrap SQL Table
Successfully inserted 5429 records into tblScrapAll

#### Build Dataframe for Component Inventory

In [40]:
def get_inv():
    try:
        dbcnxn1 = pyodbc.connect(CONNAS400_CCSDTA, timeout=30)
        cursor1 = dbcnxn1.cursor()
        start = timer()

        try:
            cursor1.execute(sql_inv)
            result = cursor1.fetchall()
            msg = str(len(result)) + " AS400 Inventory Records Processed From Table"
        except Exception as e:
            msg = 'AS400 Inventory Query Failed: ' + str(e)
            result = []
            print(msg)
        finally:
            print(msg)
            print("AS400 Connect/Query Time = " + str(round((timer() - start), 3)) + " sec")
            return result
    except pyodbc.Error as e:
        msg = 'AS400 Connection Failed: ' + str(e)
        result = []
        print(msg)
    finally:
        if 'dbcnxn1' in locals():
            dbcnxn1.close()

In [41]:
print(get_inv())

AS400 Inventory Query Failed: ('42S02', '[42S02] [IBM][System i Access ODBC Driver][DB2 for i5/OS]SQL0204 - DCSCIM in SMY type *FILE not found. (-204) (SQLExecDirectW)')
AS400 Inventory Query Failed: ('42S02', '[42S02] [IBM][System i Access ODBC Driver][DB2 for i5/OS]SQL0204 - DCSCIM in SMY type *FILE not found. (-204) (SQLExecDirectW)')
AS400 Connect/Query Time = 0.003 sec
[]

In [22]:
def get_emps():
    """Get Employees From iSeries AS400"""
    try:
        dbcnxn = pyodbc.connect(CONNAS400)
        cursor = dbcnxn.cursor()
    except pyodbc.Error as e:
        msg = 'AS400 Connection Failed: ' + str(e)
        print(msg)

    eng_login = ['9999', 'ELMER J FUDD', 'ENG']
    lead_login = ['1208', 'Wile E Coyote', 'ENG']
    eng = ['1208', '9107', '1656', '1472', '1626', '1351']

    strsql = """SELECT STRIP(EMP_CLOCK_NUMBER) As Clock,
                    CONCAT(CONCAT(STRIP(EMP_FIRST_NAME), ' '),
                    STRIP(EMP_LAST_NAME)) As Name,
                    STRIP(EMP_POSITION_CODE) As Code
            FROM PROD.FPCLCKPAY
            WHERE (EMP_LOCATION = 09) AND (EMP_LAST_NAME <> 'TEMP') AND (EMP_SHIFT_TYPE = 'A')
            ORDER BY EMP_CLOCK_NUMBER"""
    try:
        cursor.execute(strsql)
        result = cursor.fetchall()
    except Exception as e:
        msg = 'AS400 Employee Query Failed: ' + str(e)
        result = []
        print(msg)
    else:
        msg = str(len(result)) + " AS400 Employee Records Processed From Table"
        print(msg)
    result.append(eng_login)
    result.append(lead_login)
    for row in result:
        if row[0] in eng:
            row[2] = 'ENG'
    dbcnxn.close()
    return result

In [23]:
print(get_emps())

471 AS400 Employee Records Processed From Table
[('1001', 'DEBBIE POMEROY-GAMMONS', 'DEF'), ('1013', 'BETH THOMPSON', 'DEF'), ('1032', 'THOMAS BOGLE', 'DEF'), ('1039', 'VICKIE ANDERSON', 'DEF'), ('1090', 'BILLY NIPPERS', 'DEF'), ('1122', 'SHELLEY HOUSTON', 'DEF'), ('1139', 'ANTIONETTE BASS', 'DEF'), ('1175', 'WYOMIA CLARK', 'DEF'), ('1176', 'NALEE NHOTSAVANG', 'DEF'), ('1177', 'CHARLES TOOMBS', 'DEF'), ('1213', 'DOUGLAS SHIPP', 'DEF'), ('1238', 'MARICHU RIVERA', 'DEF'), ('1258', 'PHOUVEUNE LAMNGEUN', 'DEF'), ('1318', 'TERESA HOLLIS', 'DEF'), ('1331', 'NANCY CLARK', 'DEF'), ('1332', 'BRENDA CUNNINGHAM', 'DEF'), ('1347', 'HERBERT GRAHAM', 'DEF'), ('1352', 'DALE GERHART', 'DEF'), ('1372', 'SITHONH BOUAPHACHANH', 'DEF'), ('1429', 'GARY BELCHER', 'DEF'), ('1444', 'RILEY BREWER  JR.', 'DEF'), ('1464', 'CHRISTOPHER HIX', 'DEF'), ('1483', 'BARRY KIRBY', 'DEF'), ('1496', 'TERRY MARTIN', 'DEF'), ('1499', 'ACKHASONE PHILAVARN', 'DEF'), ('1514', 'KHAMIN VONGPANYA', 'DEF'), ('1515', 'PHILLIP STINSON', 'DEF'), ('1516', 'WESLEY ARTHUR', 'DEF'), ('1519', 'KONG INTHAVONGSA', 'DEF'), ('1523', 'PATRICK XAYVONGSACK', 'DEF'), ('1528', 'VIEN KHEMANIVONG', 'DEF'), ('1544', 'BOUTTAVONG THOMPSON', 'DEF'), ('1550', 'DAVID MARSH', 'DEF'), ('1551', 'ROBERT FOOTE', 'DEF'), ('1552', 'REBECCA FOOTE', 'DEF'), ('1560', 'ROY MOSS', 'DEF'), ('1562', 'ROBERT JOBMAN', 'DEF'), ('1569', 'RICHARD POPOLILLO  JR', 'DEF'), ('1571', 'KEMP SOUNAKHENE', 'DEF'), ('1574', 'KAREN HARRISON', 'DEF'), ('1576', 'JAMES TURLEY', 'DEF'), ('1579', 'GARY KING', 'DEF'), ('1581', 'JACK SHANK', 'DEF'), ('1583', 'CLYDE BARRETT', 'DEF'), ('1584', 'XAY PHASAVATH', 'DEF'), ('1585', 'DAVID KELLENBURGER', 'DEF'), ('1588', 'TIMOTHY SHORT', 'DEF'), ('1597', 'GARY HOLUB', 'DEF'), ('1601', 'GUY PARKER', 'DEF'), ('1608', 'ROBERT BARBER', 'DEF'), ('1614', 'KATHRYN LAMPE', 'DEF'), ('1618', 'ROBERT DEVERSE', 'DEF'), ('1619', 'KEVIN SANTELMAN', 'DEF'), ('1624', 'GARY JONES', 'DEF'), ('1625', 'OCTAVIO FLORES', 'DEF'), ('1626', 'BRANDON PARKER', 'ENG'), ('1639', 'VILAY VITHAYA', 'DEF'), ('1643', 'DENIS MULAVDIC', 'DEF'), ('1646', 'TREYVON MURPHY', 'DEF'), ('1647', 'RAMON GAMEZ', 'DEF'), ('1652', 'TIMOTHY OWENS', 'DEF'), ('1653', 'DUSTIN TOY', 'DEF'), ('1657', 'DENNY BROWN', 'DEF'), ('1666', 'KYLE ANDERSON', 'DEF'), ('1669', 'JAMES LACKEY', 'DEF'), ('1673', 'OUTTHAMA VONGPHAKDY', 'DEF'), ('1690', 'JOSEPH SMUTNY', 'DEF'), ('1692', 'PETER QUIRINO JR', 'DEF'), ('1694', 'KEVIN SMOTHERS', 'DEF'), ('1695', 'CRISTIAN SIFUENTES', 'DEF'), ('1698', 'AUSTIN ELLIS', 'DEF'), ('1701', 'MARK SNEED', 'DEF'), ('1702', 'RICHARD CRAIG', 'DEF'), ('1704', 'SOMPHOUVONE SOUVANNASENG', 'DEF'), ('1706', 'SAMUEL KENDALL', 'DEF'), ('1713', 'PORTER CASTLEMAN', 'DEF'), ('1716', 'CHARLES SLOVER', 'DEF'), ('1718', 'MICHAEL RIGGAN JR', 'DEF'), ('1720', 'JAMIE LIPPINCOTT II', 'DEF'), ('1730', 'WILLIAM DIAL', 'DEF'), ('1731', 'THELMA AVELAR', 'DEF'), ('1732', 'MISTIR JENBER', 'DEF'), ('1734', 'JAMES PICKENS', 'DEF'), ('1735', 'SILVIA GUTIERREZ', 'DEF'), ('1740', 'TONG CHANTHONGTHIP', 'DEF'), ('1742', 'CHRISTOPHER TAYLOR', 'DEF'), ('1746', 'ALAN HUDSON', 'DEF'), ('1750', 'MARY ALLEN', 'DEF'), ('1754', 'JASON WALLS', 'DEF'), ('1757', 'JOHN REDMON', 'DEF'), ('1765', 'AARON DESMARAIS', 'DEF'), ('1766', 'REYNALDO OCACIO', 'DEF'), ('1774', 'KEVIN KEOKETMANY', 'DEF'), ('1779', 'BRIAN MULLINS', 'DEF'), ('1781', 'MARIA TROSTER', 'DEF'), ('1786', 'TALEISHA SNEED', 'DEF'), ('1787', 'ROBERT CATRON', 'DEF'), ('1789', 'LUIS RISCO', 'DEF'), ('1794', 'KENNETH HAM', 'DEF'), ('1795', 'SKYLA JONES', 'DEF'), ('1802', 'KEITH VONGSAMPHANH', 'DEF'), ('1803', 'KHAMDY CHINDAVANH', 'DEF'), ('1805', 'TAMMY JACKSON', 'DEF'), ('1812', 'AUSTIN BROWN', 'DEF'), ('1814', 'JOSEPH HUDSON', 'DEF'), ('1822', 'RUSSELL OSBORNE', 'DEF'), ('1823', 'JAMES LILLARD', 'DEF'), ('1838', 'JASON CORDOVA', 'DEF'), ('1840', 'JESSE ZOLLER', 'DEF'), ('1845', 'DAVID FORD', 'DEF'), ('1848', 'ETALEMAHU KIDANE', 'DEF'), ('1849', 'KEENAN WALDEN', 'DEF'), ('1851', 'NIRAMOL RUENPROM', 'DEF'), ('1858', 'MONIQUE CRAWFORD', 'DEF'), ('1859', 'MICHAEL PARKER', 'DEF'), ('1866', 'JIMMY RION', 'DEF'), ('1875', 'BARRY RANEY', 'DEF'), ('1885', 'VIXOUNE SYHARATH', 'DEF'), ('1887', 'ROBERT WALDRON', 'DEF'), ('1888', 'TRACY HARVELL', 'DEF'), ('1890', 'JEFFREY CLARDY', 'DEF'), ('1891', 'JOSHUA SMITTY', 'DEF'), ('1892', 'OTHA WILSON', 'DEF'), ('1894', 'CRISTIAN VARGAS', 'DEF'), ('1897', 'CHRISTOPHER SHORT', 'DEF'), ('1899', 'JASON GREEN', 'DEF'), ('1900', 'REBECCA JONES', 'DEF'), ('1903', 'JASON JOHNSON', 'DEF'), ('1907', 'CARLIE COOPER', 'DEF'), ('1908', 'KRISTEN VANNAKET', 'DEF'), ('1909', 'ANTHONY SLATER', 'DEF'), ('1910', 'CHRISTOPHER SPENCER', 'DEF'), ('1911', 'RACHEL MITCHELL', 'DEF'), ('1916', 'TORRANCE WILLIAMS', 'DEF'), ('1917', 'LIVIER GUTIERREZ', 'DEF'), ('1918', 'CIARA ADAMS', 'DEF'), ('1920', 'SHELLY ANDERSON', 'DEF'), ('1922', 'TERRY WINECOFF', 'DEF'), ('1925', 'MICHAEL RATSABOUT', 'DEF'), ('1937', 'GERALDINE JOHNSON', 'DEF'), ('1938', 'ROBERT NADER', 'DEF'), ('1939', 'JARED SMITH', 'DEF'), ('1941', 'RYAN TOWNSEND', 'DEF'), ('1944', 'DARRIAN DORSEY', 'DEF'), ('1945', 'BUNTON PRUM', 'DEF'), ('1948', 'JAMESON MARTIN', 'DEF'), ('1950', 'WILLIAM PUMMELL', 'DEF'), ('1955', 'GIMNA DE LOS REYES', 'DEF'), ('1957', 'MYRTLE SHELTON', 'DEF'), ('1961', 'TRISTAIN MCCUTCHEON', 'DEF'), ('1962', 'JONTUE POE', 'DEF'), ('1965', 'EVANDER JONES', 'DEF'), ('1967', 'ROBERT FISHEL', 'DEF'), ('1968', 'CURTIS TRICE', 'DEF'), ('1969', 'AMBER JONES', 'DEF'), ('1970', 'JOHNNY BARKSDALE', 'DEF'), ('1971', 'EDWIN MCDUFFEE', 'DEF'), ('1974', 'YOANA VASQUEZ', 'DEF'), ('1976', 'TEKAYON SHANNON', 'DEF'), ('1977', 'GREG HOBBS', 'DEF'), ('1978', 'STEVE LUTTRELL', 'DEF'), ('1979', 'STEPHEN WADE', 'DEF'), ('1984', 'MARQUE GOLLADAY', 'DEF'), ('1985', 'JERRY BRANNON', 'DEF'), ('1986', 'MICHAEL WATERS', 'DEF'), ('1987', 'JEFFREY BRANDT', 'DEF'), ('1990', 'ANTHONY HOPKINS', 'DEF'), ('1992', 'JONATHAN DENTON', 'DEF'), ('1995', 'RICKEY WOODLEE', 'DEF'), ('1998', 'LAWRENCE WELLS', 'DEF'), ('1999', 'KEITH FATHERA', 'DEF'), ('2001', 'JESSEY SWEETON', 'DEF'), ('2002', 'DARIUS KRAWEIC', 'DEF'), ('2003', 'JACOB LACRONE', 'DEF'), ('2005', 'MICHAEL KINCAID', 'DEF'), ('2007', 'MATTHEW JOHNSON', 'DEF'), ('2008', 'BRANDON MCNISH', 'DEF'), ('2012', 'ROBERT BARBER', 'DEF'), ('2013', 'ERIC CRAWFORD', 'DEF'), ('2017', 'RAYSHAUN REECE', 'DEF'), ('2018', 'JUSTIN LUMPKIN', 'DEF'), ('2019', "JOHN O'CONNELL", 'DEF'), ('2021', 'BLAYNE NORRIS', 'DEF'), ('2022', 'JAMAULE WILEY', 'DEF'), ('2024', 'CHARLES SPURLOCK', 'DEF'), ('2028', 'MICHAEL ELLIS', 'DEF'), ('2030', 'JOSHUA GRAHAM', 'DEF'), ('2031', 'WILLIAM KENNEDY', 'DEF'), ('2033', 'RONALD CRABTREE', 'DEF'), ('2034', 'SOMSACK SOUVANNASY', 'DEF'), ('2035', 'DANIEL SEKIMONYO', 'DEF'), ('2036', 'ANDRE WARD', 'DEF'), ('2037', 'MARCUS STOKES', 'DEF'), ('2039', 'TONY POTTS', 'DEF'), ('2040', 'DAVID OGLETREE', 'DEF'), ('2041', 'HELEN POWERS', 'DEF'), ('2043', 'ANDREW MARTOVITZ', 'DEF'), ('2044', 'CHARLES ROBERTS', 'DEF'), ('2046', 'CARLOS GUTIERREZ', 'DEF'), ('2048', 'WILLIAM BURNS', 'DEF'), ('2049', 'NICHOLAS BIVINS', 'DEF'), ('2050', 'TONY KING', 'DEF'), ('2051', 'JONATHAN ESTRADA', 'DEF'), ('2052', 'RICHARD KAYLOR', 'DEF'), ('2053', 'JOLLY SAMULU', 'DEF'), ('2054', 'TRIMECO MARTIN', 'DEF'), ('2055', 'BRADLEY SMITH', 'DEF'), ('2056', 'JORDAN SQUIRES', 'DEF'), ('2058', 'HAROLD HIX', 'DEF'), ('2059', 'WILLIE ROBINSON', 'DEF'), ('2060', 'LAURA MARTOVITZ', 'DEF'), ('2061', 'CHRISTOPHER HORNE', 'DEF'), ('2062', 'JOSEPH VEGA', 'DEF'), ('2063', 'OUTHAI THAYVY', 'DEF'), ('2064', 'MEKUANINT KELIFA', 'DEF'), ('2065', 'BOUN SENGSAYADETH', 'DEF'), ('2066', 'AARON SISSOM', 'DEF'), ('2067', 'MARK RAMSEY', 'DEF'), ('2068', 'WILLIAM STINSON', 'DEF'), ('2069', 'VICKI SENGSAYADETH', 'DEF'), ('2070', 'CHRISTIAN ACEVEDO', 'DEF'), ('2071', 'KHANSAY VONGRASAMY', 'DEF'), ('2072', 'PER DOH', 'DEF'), ('2073', 'VILASAY KHEMPHAVANH', 'DEF'), ('2074', 'RANGER STEVEN', 'DEF'), ('2075', 'LANDON WOODWICK', 'DEF'), ('2076', 'DEREK KOTARBA', 'DEF'), ('2077', 'BRIAN SHAFFER', 'DEF'), ('2078', 'XAVIER WILKES', 'DEF'), ('2079', 'AYALA YESENIA', 'DEF'), ('2080', 'PAMELA WORLEY', 'DEF'), ('2081', 'ISAAC COLLINS', 'DEF'), ('2082', 'QUINZELLA GARNER', 'DEF'), ('2083', 'LUIS CECILIA SOTO', 'DEF'), ('2084', 'TERRANCE PRICE', 'DEF'), ('2085', 'JODY TAYLOR', 'DEF'), ('2087', 'TRAE LAMPLEY', 'DEF'), ('2089', 'KELLY PAW', 'DEF'), ('2090', 'JENNIFER SNYDER', ''), ('2091', 'ANDRE GOOCH', ''), ('2092', 'DANNY THOMPSON', ''), ('2093', 'STEVEN SHORT', ''), ('2094', 'DEWAIN HOLMAN', ''), ('2095', 'CHRIS DOWLEN', ''), ('2096', 'SAM LOC', ''), ('2097', 'COURVOISIER FARR-MARCH', ''), ('2098', 'MICAH RANSOM', ''), ('2099', 'LUTHER WALDREN', ''), ('2100', 'MANIVANH KEOMANY', ''), ('2101', 'KESHAUN EDMONSON', ''), ('2102', 'MISTY KILGORE', ''), ('2103', 'CALEB HENDRICKS', ''), ('2104', 'KODI CHANEY', ''), ('2105', 'ANEAYUS HAYLEY', ''), ('2106', 'JEFFREY BASS', ''), ('2107', 'ARTAVIOUS HOLMES', ''), ('2108', 'MACKQIES RAYMOND', ''), ('2109', 'HIM JOSHI', ''), ('2110', 'SALOMON MERIDA', ''), ('2111', 'KEVIN BENNISON', ''), ('2112', 'ANDEE CANNON', ''), ('2113', 'AISHA HAMPTON', ''), ('2114', 'TALMADGE BULGER', ''), ('2115', 'MELVIN IRIZARRY', ''), ('2116', 'TRAVIS MCCUTCHEON', ''), ('2117', 'BISHOY GABRA', ''), ('2118', 'PHAYAVANH MOUNTRY', ''), ('2119', 'RASMEY YAT', ''), ('2120', 'ADRION LEE', ''), ('2121', 'MICHAEL WILLIAMS', ''), ('2122', 'DEREK VAUGHN', ''), ('2123', 'THON MOUNTRY', ''), ('2124', 'RANDALL LEGGETT', ''), ('2125', 'GAGE LEITCH', ''), ('2126', 'JASON SISCO', ''), ('2127', 'SYOU KEZAL', ''), ('2128', 'TONY MILLER', ''), ('2129', 'TYLER BEECHAN', ''), ('2130', 'JOHN BUSH', ''), ('2131', 'DECEDRIC GIBSON', ''), ('2132', 'VYRAVONG SENEPHANSIRI', ''), ('2133', 'MIGUEL TORRES', ''), ('2134', 'NICKSON KANTASEE', ''), ('2135', 'GEOFFREY HERRING', ''), ('2136', 'CHADWICK DEBERRY', ''), ('2137', 'COLEMAN MCCLURE', ''), ('2138', 'JOHNISE THOMAS', ''), ('2139', 'PHILLIP SENGTHAVORN', ''), ('2140', 'CORY BROWN', ''), ('2141', 'BRANDON ADCOCK', ''), ('2142', 'CHRISTINA RODEN', ''), ('2143', 'ADDISON CARROLL', ''), ('2144', 'NIXON PUERTA', ''), ('2145', 'LYNDA SIMMONS', ''), ('2146', 'UDORN PHICHITCHALEUNS', ''), ('2147', 'NOEL TORRES', ''), ('2148', 'JOHN MCGEE', ''), ('2149', 'JEFFREY FORRESTER', ''), ('2150', 'ANTHONY DANIELS', ''), ('2151', 'TIBEBU BEYENE', ''), ('2152', 'GLENAYRE MURHEAD', ''), ('2153', 'ENRIQUE FLORES', ''), ('2154', 'FRED MASON', ''), ('2155', 'DRAGUS DIXON', ''), ('2156', 'RICKY CHAMPION', ''), ('2157', 'ROBERT CHRISTIAN', ''), ('2158', 'BRIAN HENLEY', ''), ('2159', 'SHALA GARDNER', ''), ('2160', 'JOSE HURTADO', ''), ('2161', 'DARREN FRANKLIN', ''), ('2162', 'KELLY HEIDENREICH', ''), ('2163', 'STEPHEN WALLS', ''), ('2164', 'LAINI MLAMBA', ''), ('2165', 'ANDO PATH', ''), ('2166', 'JAMES ALCORN', ''), ('2167', 'CLYDE CLEMENTS', ''), ('2168', 'PAUL JARVIS', ''), ('2169', 'TIM HENSON', ''), ('2170', 'YASHLEY PUENTES', ''), ('2171', 'LARRY MANSFIELD', ''), ('2172', 'ASHLEY GAMBLE', ''), ('2173', 'BLAKE BURTON', ''), ('2174', 'JAKE LAWSON', ''), ('2175', 'JOHNATHAN SLAUGHTER', ''), ('2176', 'NIEL DENNIS', ''), ('2177', 'OMARR HATCHER', ''), ('2178', 'MAZIYAR RASTBOUD', ''), ('2179', 'KOKO KAGNEE', ''), ('2180', 'ILDA MARTINEZ', ''), ('2181', 'JOSE PEREZ', ''), ('2182', 'VICTOR SANCHEZ', ''), ('2183', 'GWEN STINSON', ''), ('2184', 'PHILLIP WILSON', ''), ('2185', 'SETH WRIGHT', ''), ('2186', 'TESA MCCOY', ''), ('2187', 'TRISTEN AQUINO', ''), ('2188', 'LOUIS BROWN,JR', ''), ('2189', 'DIOSLEIDYS MENDOZA', ''), ('2190', 'TYLER HUTCHINSON', ''), ('2191', 'CARL NOLAN', ''), ('2192', 'ERIC MILLIKEN, JR', ''), ('2193', 'AMBER STROUD', ''), ('2194', 'NICHOLAS HIX', ''), ('2195', 'ALEXA PARRIS', ''), ('2196', 'SCOTT OHMACHT', ''), ('2197', 'SHAILA BATISH', ''), ('2198', 'BILLY PARKER', ''), ('2199', 'DEMARIUS PITTS', ''), ('2200', 'MATTHEW OWERS', ''), ('2201', 'JEFFREY MOMENT', ''), ('2202', 'DYWON BOYD', ''), ('2203', 'MARDELIS CORRALES', ''), ('2204', 'AMANDA WARRICK', ''), ('2205', 'ANDRE MARTINEZ', ''), ('2206', 'ROGER ZENI', ''), ('2207', 'JAMES BIMSON-BARON', ''), ('2208', 'MICHAEL TIBBETTS', ''), ('2209', 'ISAIAH BARKSDALE', ''), ('2210', 'CHARLES WILLIAMS', ''), ('2211', 'ANTHONY YANIS', ''), ('2212', 'FIONA OKUMU', ''), ('2213', 'ASAEL QUIROZ', ''), ('2214', 'JOHNATHAN CLARDY', ''), ('2215', 'HEATH HENRY', ''), ('2216', 'MARIA GARCIA', ''), ('2217', 'HUGO ZAMBRANO', ''), ('2218', 'ROBERT WILKES', ''), ('2219', 'JOEL OLIVER', ''), ('2220', 'JASON MCCLURE', ''), ('2221', 'NANCY BOLEN', ''), ('2222', 'QUINCY KINZER', ''), ('2223', 'JOHNATHAN ANDERS', ''), ('2224', 'JOENY NABORIBOUNE', ''), ('2225', 'WILLIAM BRYANT', ''), ('2226', 'MATT SHANNON', ''), ('2227', 'MARANGELIE RIVERA', ''), ('2228', 'JAMES JONES', ''), ('2229', 'RICHARD VEGA', ''), ('2230', 'ANDREW IRVINE', ''), ('2231', 'ISMAIL MALIK', ''), ('2232', 'JOHNATHAN WHITTAKER', ''), ('2233', 'ANTHONY BANKS', ''), ('2234', 'DUWAND COLLINS', ''), ('2235', 'ANDREW GRAY', ''), ('2236', 'GERRARD SCATES', ''), ('2237', 'DUSTON SPARKMAN', ''), ('2238', 'KETURAH BROWN', ''), ('2239', 'SHAUN PAAS', ''), ('2240', 'JOSEPH ALLEN', ''), ('2241', 'NICHOLAS WEST', ''), ('2242', 'CHARLES GILDERSLEEVE', ''), ('2243', 'NELSON ROBERT', ''), ('2244', 'BERNARD MCDOWELL', ''), ('2245', 'BRADLEY HUMPHREYS', ''), ('2246', 'AUTUMN PERRY', ''), ('2247', 'DAVID WOODARD', ''), ('2248', 'PHANTIP THEPHAVONG', ''), ('2249', 'ROMELL SMITH', ''), ('2250', 'CHRISTOPHER LAVERY', ''), ('2251', 'ALEXANDER MORENO', ''), ('2252', 'MANUEL VASQUEZ', ''), ('2253', 'MARCOS GARCIA', ''), ('2254', 'MANUEL VEGAS GUARAMOTO', ''), ('2255', 'TABITHA RUBIO', ''), ('2256', 'ESTEBAN SEBASTIAN', ''), ('2257', 'LISBETH AGUILAR', ''), ('2258', 'LINDA PHOUMALA', ''), ('2259', 'ROBERT SKINNER', ''), ('2260', 'JOEY KHOUNBORIBOUNSA', ''), ('2261', 'JORGE GALLO ARIAS', ''), ('2262', 'ALEXA SMITH', ''), ('2264', 'RICKY JACKSON', ''), ('2265', 'SHELBY CHEESEMAN', ''), ('2266', 'FIONA LACROIX', ''), ('2268', 'ADLEUXA KHOUNBORIBOUNSA', ''), ('2269', 'RAUL MALFARON', ''), ('2270', 'JUSTIN GOFOURTH', ''), ('2271', 'THELMA MITCHELL', ''), ('2272', 'JOSEPH HATFIELD', ''), ('2273', 'DYLAN SADLER', ''), ('2274', 'SANONG INTHAVONG', ''), ('2275', 'JUSTIN BOSCH', ''), ('2276', 'DERRICK DICKSON', ''), ('2277', 'ISAIAH SMITH', ''), ('2278', 'DEMETRIUS DRANE', ''), ('2279', 'ERIC LOPEZ', ''), ('2280', 'COURTNEY BARRETT', ''), ('2281', 'GINNY MCCULLOUGH', ''), ('2282', 'DAVID KIRKWOOD', ''), ('2283', 'ANDREW HENLEY', ''), ('2284', 'JULIAN QUIRINDONGO', ''), ('2285', 'KOMSAN CHAINAVONG', ''), ('2286', 'DWAYNE MOSS', ''), ('2287', 'KRISTEN JOHNSON', ''), ('2288', 'MICHAEL MURPHY', ''), ('2289', 'EMANUEL HALEY', ''), ('2290', 'TYLER SPURGEON', ''), ('2291', 'JONATHAN ROACH', ''), ('2292', 'REYNIER MILANES', ''), ('2293', 'TODD RODRICK', ''), ('2294', 'KRISTY MCPEAK', ''), ('2295', 'ALEXIS FERGUSON', ''), ('2296', 'CHANCE PRIMM', ''), ('2297', 'SAREZH ABDALLA', ''), ('2298', 'MUJTABA ALTAMIMI', ''), ('2299', 'ALONZO GARRETT', ''), ('2300', 'LADERIUS LLOYD', ''), ('2301', 'MAURICE BISHOP', ''), ('2302', 'JUSTIN BARNES', ''), ('2303', 'MIRIAM ROMERO', ''), ('2304', 'JOMARRI WALKER', ''), ('2305', 'JOSE VAQUERA', ''), ('2306', 'DAN PETERSON', ''), ('2307', 'KENNETH SCHULZ', ''), ('2308', 'JENNIFER ANDERSON', ''), ('2309', 'MARIO LUANGLATH', ''), ('2310', 'TREMARCIO EVANS', ''), ('2311', 'JULIE SEMLER', ''), ('2312', 'MAY BUMAN', ''), ('2313', 'DESMOND CAMPBELL', ''), ('2314', 'DARIEN SHAW', ''), ('2315', 'SAMSON BITDA', ''), ('2316', 'LEO JONES', ''), ('2317', 'LAKIA YOUNG', ''), ('2318', 'BRADLEY HALL', ''), ('2319', 'SAMANTHA DAVIDSON', ''), ('2320', 'TIMOTHY LOTT', ''), ('2321', 'SYPHOUM SYCHAREUNE', ''), ('2322', 'ROBERT DOWD', ''), ('2323', 'FELISHA HAGGARD', ''), ('3091', 'IVON RODRIGUEZ-OLGUI', ''), ['9999', 'ELMER J FUDD', 'ENG'], ['1208', 'Wile E Coyote', 'ENG']]