### Engineering Database Development

In [1]:
import pandas as pd
import pyodbc
import os
import sqlalchemy.types
from sqlalchemy import create_engine
from urllib import parse
from timeit import default_timer as timer

In [20]:
# Define Database Connections

CONNAS400_PROD = """
Driver={iSeries Access ODBC Driver};
system=10.143.12.10;
Server=AS400;
Database=PROD;
UID=SMY;
PWD=SMY;
"""

CONNAS400_CCSDTA = """
Driver={iSeries Access ODBC Driver};
system=10.143.12.10;
Server=AS400;
Database=CCSDTA;
UID=SMY;
PWD=SMY;
"""

CONNFMA = """
Driver={FileMaker ODBC};
system=10.143.12.196;
Database=mfg8Clamps;
UID=FMODBC;
PWD=FMODBC'
"""

CONNFM = 'DSN=FM Clamp ODBC;UID=FMODBC;PWD=FMODBC'

server = 'tn-sql'
database = 'autodata'
driver = 'ODBC+Driver+17+for+SQL+Server'
user = 'production'
pwd = parse.quote_plus("Auto@matics")
port = '1433'
database_conn = f'mssql+pyodbc://{user}:{pwd}@{server}:{port}/{database}?driver={driver}'
# Make Connection
engine = create_engine(database_conn)
conn_sql = engine.connect()

#### Setup Some SQL Queries

In [17]:
sql_inv = """
SELECT
    y.itmid,
    b.qty,
    y.itmdesc,
SUBSTR (Altdesc, 15, 1) Class
FROM
    CCSDTA.DCSCIM y,
    CCSDTA.DMFCMAR x,
    CCSDTA.DCSILM b
WHERE
    x.itmid = y.itmid
    AND x.itmid = b.itmid
    AND x.plt = b.plt
    AND b.plt = '09'
    AND qty <> 0
    AND x.COSTID = 'FRZ'
    AND x.plt NOT IN ('53', '54', '55', '56', '59')
"""

sql_tbl8 = """
    SELECT Ourpart,"Band A Part Number","Housing A Part Number","Screw Part Number","Pack"
    FROM tbl8Tridon
    WHERE  (Ourpart IS NOT NULL)
        AND (RIGHT(Ourpart,1) <> '\r')
        AND ("Housing A Part Number" IS NOT NULL)
        AND (RIGHT("Housing A Part Number",1) <> '\r')
        AND ("Screw Part Number" IS NOT NULL)
        AND (RIGHT("Screw Part Number",1) <> '\r')
        AND ("Band A Part Number" IS NOT NULL)
        AND (RIGHT("Band A Part Number",1) <> '\r')
        AND ("Pack" IS NOT NULL)
        AND (RIGHT("Pack",1) <> '\r')
    ORDER BY Ourpart
    """

In [21]:
def pull_data(conn,qry):
    # Improved connection with proper error handling and connection management
    result = []
    try:
        dbcnxn = pyodbc.connect(conn, timeout=30)
        cursor = dbcnxn.cursor()
        start = timer()

        try:
            cursor.execute(qry)
            result = cursor.fetchall()
            msg = str(len(result)) + " Records Processed From Table"
        except Exception as e:
            msg = conn + ' Query Failed: ' + str(e)
            print(msg)
        finally:
            print(msg)
            print(conn + " Connect/Query Time = " + str(round((timer() - start), 3)) + " sec")

    except pyodbc.Error as e:
        msg = conn + ' Connection Failed: ' + str(e)
        print(msg)
    finally:
        if 'dbcnxn' in locals():
            dbcnxn.close()
    return result

#### Build Dataframe for Component Inventory

In [26]:
df_inv = pd.DataFrame.from_records(pull_data(CONNAS400_CCSDTA,sql_inv))
data_type_dict = {'ITMID': str, 'QTY': int, 'ITMDESC': str, 'CLASS': str}
df_inv.columns = ['ITMID', 'QTY', 'ITMDESC', 'CLASS']
df_inv = df_inv.dropna()
df_inv = df_inv.astype(data_type_dict)
df_inv = df_inv.convert_dtypes()
df_inv.sample(20)

13897 Records Processed From Table

Driver={iSeries Access ODBC Driver};
system=10.143.12.10;
Server=AS400;
Database=CCSDTA;
UID=SMY;
PWD=SMY;
 Connect/Query Time = 0.702 sec

,ITMID,QTY,ITMDESC,CLASS
11706,HDSL227,700,"POW'R-TIGHT CLAMP 2.00"" X .75"" BULK@100",5
9460,600070040127,1300,MISSION RUBBER 6630022 BULK@4500,5
10274,8045600,1031,.026 X .625 GALVANIZED 5/8 BAND,1
3017,300210300052,350,"3/4"" 300SS T-BOLT CLAMP W/CHANNEL BRIDGE",5
11375,7K765A0,3,"9.0"" SHIELD-NH 301 S/S .012 THICKNESS TN",3
1829,2198001,1096,STP .023 X .312 301SS MIC BND,1
4115,5220070,18,"52-20 1/2"" GRAINGER #16P276 @50",5
12143,670290051175,2400,MANN HUMMEL 1353419S01 BULK @300,5
9799,2306140,781,BND REG 301SS .022,3
1577,1487001,65,FERNCO FOUR-WALL TOTE,2
8934,9021017,4000,BF ---- WHITE,2
10595,8041100,790,"AISI 201, ANNEAL BAND STRIP 1.0"" X .044""",1
4256,533020027706,380,9MM W2 IDEAL NON-PERF CLAMP 10PK@100,5
6322,630040464052,200,"9/16"" CLAMP 'SIZE 464",5
5271,604012703,9500,B12H 35215 BOXED @500,5
11253,1198224,86470,"TOP HAT CLIP, NARROW REVERSE LEG",3
12715,304-007,26860,"304 V-INSERT STRIP .079 MSTR COIL 47-61""",1
4528,5428099,776,"CLP - 9/16"" HD, 54-28-0 - 201 201 CARCL",4
2058,2673001,24,CLAMP DISPLAY RACK (SMALL),2
11272,372200036052,6250,"1/2"" SMARTSEAL SZ 36 BULK@250",5

#### Build Dataframe for Clamp Data

In [27]:

df_clamps = pd.DataFrame.from_records(pull_data(CONNFM,sql_tbl8))
# Set Column Names
df_clamps.columns = ['PartNumber', 'Band', 'Housing', 'Screw', 'Pack']
# Set Data Types
data_type_dict = {'PartNumber': str, 'Band': str, 'Housing': str, 'Screw': str, 'Pack': str}

# Do Some Filtering and Data Cleansing
df_clamps = df_clamps[1:]
df_clamps = df_clamps.astype(data_type_dict)
df_clamps = df_clamps.dropna()
df_clamps = df_clamps.convert_dtypes()
df_clamps.sample(20)

7391 Records Processed From Table
DSN=FM Clamp ODBC;UID=FMODBC;PWD=FMODBC Connect/Query Time = 1.781 sec

        PartNumber      Band     Housing       Screw Pack
2326  600070092127   2115092     1151007     2323001  127
5207     844700102   2005700     2300001     1220001  102
2616     602048102   2366048     2350011     1213002  102
1927  573140060099   4854060  4856003052  4452012052  099
2027  574040075099   4874075  4876001052  4491012052  099
784   360040024M01  2373024M     1151005   1278001MC  M01
5212     844850000   2005850     2300001     1220001  000
2549  600450800052   2966812     7009900     2543001  052
5402   DM296024000   1074024     4097037    D4211001  000
6996    M74807A102   108607A     2367012     1278001  102
4113  671320051175   2757051     2360007   1377001MC  175
4118  671330062175   2263062     2360007   1377001MC  175
4867     779045004   2292045     2360007   1278001MC  004
4526     706062004   2905062     2360007   1278001MC  004
2321     600064102   2353064     2350016     1213002  102
4646     721036102   2724036     2367012     1278001  102
2191       58136VB   7209300     7015400   2343003VB   VB
4967     796062102   2294062     2367025     1278001  102
1864  573050032099   4904032     4906001     4502001  099
280      229080102   2314080     1019032     1278001  102

#### Load Inventory Data to SQL Server Table

In [8]:
data_type_dict = {'ITMID' : sqlalchemy.types.VARCHAR(255),'QTY' : sqlalchemy.types.INT,'ITMDESC' : sqlalchemy.types.VARCHAR(255),
                  'CLASS' : sqlalchemy.types.VARCHAR(255)}

df_inv.to_sql('tblCompInv', conn_sql, schema='eng', if_exists='replace', index=False, dtype=data_type_dict)

143

In [16]:
data_type_dict = {'PartNumber' : sqlalchemy.types.VARCHAR(255), 'Band' : sqlalchemy.types.VARCHAR(255),'Housing' : sqlalchemy.types.VARCHAR(255),'Screw' : sqlalchemy.types.VARCHAR(255), 'Pack' : sqlalchemy.types.VARCHAR(255)}

df_clamps.to_sql('tbl8', conn_sql, schema='eng', if_exists='replace', index=False, dtype=data_type_dict)

267