In [1]:
import pandas as pd
from sqlalchemy import create_engine
from urllib import parse
import pyodbc

# Define Database Connection

# Filemaker Connection
cnxn = pyodbc.connect('DSN=FM Clamp ODBC;UID=FMODBC;PWD=FMODBC')
cnxn.timeout = 60
cursor = cnxn.cursor()

# SQLAlchemy connection SQL Server
server = 'tn-sql'
database = 'autodata'
driver = 'ODBC+Driver+17+for+SQL+Server'
user = 'production'
pwd = parse.quote_plus("Auto@matics")
port = '1433'
database_conn = f'mssql+pyodbc://{user}:{pwd}@{server}:{port}/{database}?driver={driver}'
# Make Connection
engine = create_engine(database_conn)
# conn = engine.raw_connection()
conn = engine.connect()

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from urllib import parse

In [5]:
name = 'ADC Price List with Categories '
url = 'https://cdn.automationdirect.com/static/prices/prices_public.xlsx'
print('Fetching Data File From Automation Direct Web Site')
df = pd.read_excel(url, sheet_name=name, usecols=[0, 2, 3])
df_dropped = df.dropna()
df_reset = df_dropped.reset_index(drop=True)
df_reset.columns = ['part', 'status', 'price']
df_final = df_reset[1:]
print(df_final)

Fetching Data File From Automation Direct Web Site
                part                              status price
1           C2-03CPU                               Stock   205
2         C2-03CPU-2                               Stock   255
3           C2-02CPU                               Stock   151
4         C2-02CPU-2                               Stock   193
5           C2-01CPU                               Stock    97
...              ...                                 ...   ...
39286   ZP-S1-XMP-AD                               Stock     4
39287        NP4024G   from vendor up to 7 business days   100
39288  WA242408GSCSS   from vendor up to 5 business days   707
39289      WA24NTMA3  from vendor up to 10 business days    56
39290          WA48T  from vendor up to 10 business days    29

[39290 rows x 3 columns]

In [47]:
df_final.to_sql('Adirect', conn, schema='production', if_exists='replace', index = False)

138

In [7]:
sql = """
SELECT Ourpart,"Band A Part Number", "Housing A Part Number",
       "Screw Part Number", "Band Feed from Band data",
       "Ship Diam Max QA Alternate", "Ship Diam Min", "Hex Size", "Band_Thickness", "Band_Width", 
       "CameraInspectionRequired", "ScrDrvChk"
FROM tbl8Tridon
"""
cursor.execute(sql)
result = cursor.fetchall()
#print(result)
db=[]
for row in result:
   db.append(row)

df = pd.DataFrame(result)
#df.head(10)
df = df[1:]
#df.columns = ["Part", "Band", "Hsg", "Scr", "Feed", "ShipDiaMax", "ShipDiaMin", "HexSz", "Thick", "Width", "Cam", "ScrDrvChk"]
df_dropped = df.dropna()
df_reset = df_dropped.reset_index(drop=True)
df_reset.head(10)
#df.to_sql('parts_fm_pd', conn, schema='production', if_exists='replace', index = False)

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'